<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our karts</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @kart.count %> karts out of our <%= Kart.count %> on our website.</p>
      <% else %>
        <p>All <%= @karts.count %> karts.</p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @karts.each do |kart| %>
      <div class="col-md-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: <%= kart.image %>;"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= link_to kart.name, kart_path(kart) %></h4>
            </div>
            <div class="flex">
              <p><%= kart.special_skills%></p>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= kart.price %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
