<div class="container mt-3">
  <h1>All our karts</h1>

  <% if @query %>
    <h2>You searched for <strong><%= @query %></strong>. We found <%= @kart.count %> karts out of our <%= Kart.count %> on our website.</h2>
  <% else %>
    <h2>All <%= @karts.count %> karts.</h2>
  <% end %>

  <div class="cards">
    <% @karts.each do |kart| %>
      <div class="card-trip">
        <%= image_tag kart.image %>
        <div class="card-trip-infos">
        <div>
          <h2><%= link_to kart.name, kart_path(kart), class:"link" %></h2>
          <p><%= kart.special_skills%></p>
        </div>
        <h2 class="card-trip-pricing"><%= kart.price %> €</h2>
        <img class="card-trip-user avatar-bordered" <%= image_tag kart.user.photo %>
        </div>
      </div>
    <% end %>
  </div>

</div>
