  <div class="container">

    <div class="d-flex mt-5">
      <div class="d-flex justify-content-center">
        <%= image_tag @kart.image, class: "image-show-kart" %>
      </div>
      <div class="flat-show-card">

        <h2>Book my new Kart 🤩 !</h2>

          <%= simple_form_for [@kart, @booking] do |f| %>
           <%=  f.input :start_dates, as: :date %>
           <%=  f.input :end_dates, as: :date %>
            <%= f.submit "Book" %>

          <% end %>
      </div>
      <%# <div class="flat-show-card"> %>
        <%# <h3>Details</h5> %>
        <%# <div class="flex"> %>
          <%# <div class="flex"> %>
            <%# <%= @kart.special_skills %>
          <%# </div> %>
          <div class="flex ms-3">
            <%= @kart.price %>€
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="flex-align">
          <%# <h6 class="no-mb">Share</h6> %>

        </div>
      </div>
    </div>

  </div>
