 <link rel="stylesheet" href="_show.scss" />

  <div class="container">

    <div class="d-flex">
      <div class="d-flex justify-content-center">
        <%= image_tag @kart.image, class: "image-show-kart" %>
      </div>
      <div class="flat-show-card">

        <h2>Book my new Kart 🤩 !</h2>
        <div class="price flex">
          <%= @kart.price %>€
        </div>
        <%= simple_form_for [@kart, @booking],
                            html: {
                              data: {
                                controller: 'flatpickr'
                              }
                            } do |f| %>
          <%=  f.input :start_dates,
                        as: :string,
                        input_html: {
                          data: {
                              flatpickr_target: 'start_dates',
                          }
                        } %>
          <%=  f.input :end_dates,
                        as: :string,
                        wrapper_html: { class: 'd-none' },
                        input_html: {
                            data: {
                              flatpickr_target: 'end_dates'
                        }
                      } %>
          <label for="story">Book message:</label>
          <textarea id="story" name="story">
            </textarea>
              <%= f.submit "Book" ,  class: "w-100 btn btn-dark mt-3" %>
              <% end %>
      </div>
    </div>
  </div>
