<h2><%= @user.name %></h2>
<%= image_tag @user.photo %>


<h2>All my bookings</h2>

<div class="cards">
  <% @bookings.each do |booking| %>
    <div class="card-trip">
      <%= image_tag booking.kart.image %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to booking.kart.name,  kart_bookings_path(:kart_id) %></h2>
          <p><%= booking.kart.special_skills%></p>
        </div>
        <h2 class="card-trip-pricing"><%= booking.start_dates %></h2>
        <h2><%= booking.end_dates %></h2>
      </div>
    </div>
  <% end %>
</div>
