<div class="container mt-3">
    <div class="d-flex justify-content-center align-items-center">
      <% if @user.photo%>
      <%= image_tag @user.photo %>
      <% end %>
      <h2><%= @user.name %></h2>
    </div>
  <%= link_to "Rent your own kart", new_kart_path, class: "btn btn-flat" %>
  <h2>All my bookings</h2>

<div class="cards">
  <% @bookings.each do |booking| %>
    <div class="card-trip">
      <%= image_tag booking.kart.image %>
      <div class="card-trip-infos">
        <div>
          <h2><%= link_to booking.kart.name,  kart_bookings_path(:kart_id), class:"link" %></h2>
          <p><%= booking.kart.special_skills%></p>
        </div>
          <%= image_tag booking.kart.user.photo, class: "card-trip-user avatar-bordered" %>
          <p class="card-trip-pricing">Start: <%= booking.start_dates %></p>
          <p> End : <%= booking.end_dates %></p>
          <p> Total price : <%= booking.kart.price %>€</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
